*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    margin: 0;
}
.container {
    width: 400px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}
.heading {
    width: 5px;
    height: 20px;
    background-color: #e67e22;
    margin-right: 8px;
}
.main {
    position: relative;
    width: 100%;
}
.image {
    width: 100%;
    border-radius: 5px;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content {
    font-size: 16px;
    margin: 0;
}
.related {
    margin-top: 10px;
}
.item {
    font-size: 14px;
    color: #333;
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}
